<section data-background="images/js-animation.gif" class="partial">
  <div class="blur-more">
    <h3>Coder proprement en JavaScript ?</h3>
    <small>(parce qu'il parait que c'est possible)</small>
    <br>
    <h4>Challenge accepted!</h4>
    <hr/>
    <p>
      <small>par <a href="http://linsolas.github.io">Romain Linsolas</a> | <i class="fa fa-twitter"></i> <a href="http://twitter.com/romaintaz">@romaintaz</a>
      </small>
    </p>
  </div>
  <div class="credits">
    <a href="http://www.jstips.co/">JS Tips</a>
  </div>
</section>
