<section data-background="images/js-animation.gif" class="partial">
  <div class="blur-more">
    <h3>Coder en JavaScript en 2019</h3>
    <span style="text-decoration: line-through">c'était mieux avant</small>
    <br>
    <hr/>
    <p>
      <small>par <a href="http://linsolas.github.io">Romain Linsolas</a> | <i class="fab fa-twitter"></i> <a href="http://twitter.com/romaintaz">@romaintaz</a>
      </small>
    </p>
  </div>
  <div class="credits">
    <a href="http://www.jstips.co/">JS Tips</a>
  </div>
</section>
