<section data-background="../images/devoxx-2013.jpg" class="partial">
  <h2>Romain Linsolas</h2>
  <br>
  <div class="blur">
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-caret-right"></i> Développeur web &amp; Java</li>
      <li><i class="fa-li fa fa-building red"></i> Société Générale</li>
      <li><i class="fa-li fa fa-caret-right"></i> Leader technique <code>SGWT</code></li>
      <li><i class="fa-li fa fa-caret-right"></i> Tout un tas d'autres choses...</li>
      <li><i class="fa-li fa fa-twitter"></i> @romaintaz</li>
    </ul>
  </div>
</section>

<section class="partial">
  <section>
    <h3>SGWT ?</h3>
    <!-- TODO Change image -->
    <img src="../images/ezweb-showcase.png">
  </section>

  <section data-background="images/angularjs.jpg">
    <div class="blur-more">
      <h4>Société Générale Web Toolkit</h4>
      <ul class="fa fa-ul">
        <li><i class="fa fa-google"></i> AngularJS, Angular &amp; React</li>
        <li><i class="fa fa-twitter"></i> Bootstrap version "SG"</li>
        <li><i class="fa fa-map-signs"></i> Conventions fortes</li>
        <li><i class="fa fa-wrench"></i> Outils pré-configurés</li>
        <li><i class="fa fa-table"></i> Composants avancés</li>
        <li><i class="fa fa-ambulance"></i> Support et évolutions</li>
      </ul>
    </div>
  </section>
  <section data-background="../images/numbers.jpg">
    <h3>Quelques ch1ffr35 !</h3>
    <div class="blur-more">
      <ul class="fa fa-ul">
        <li><i class="fa fa-object-group"></i> <span class="important">500</span>+ projets sur SGWT</li>
        <li><i class="fa fa-users"></i> ~<span class="important">2000</span> développeurs concernés</li>
        <li><i class="fa fa-hand-spock-o"></i> Équipe de <span class="important">3,5</span> personnes</li>
        <li><i class="fa fa-github"></i> ~<span class="important">150</span> dépôts Github Enterprise</li>
        <li><i class="fa fa-github-alt"></i> En route vers l'OSS !</li>
      </ul>
    </div>
    <div class="credits">
      <a href="https://www.flickr.com/photos/morebyless/">morebyless, Flickr</a>
    </div>
  </section>
</section>
