<section data-background="../images/devoxx-2013.jpg" class="partial">
  <h2>Romain Linsolas</h2>
  <br>
  <div class="blur">
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-caret-right"></i> Développeur Java & web</li>
      <li><i class="fa-li fa fa-caret-right"></i> Leader technique <code>EzWeb</code></li>
      <li><i class="fa-li fa fa-caret-right"></i> Tout un tas d'autres choses...</li>
      <li><i class="fa-li fa fa-twitter"></i> @romaintaz</li>
    </ul>
  </div>
</section>

<section class="partial">
  <section>
    <h3>EzWeb ?</h3>
    <img src="../images/ezweb-showcase.png">
  </section>

  <section data-background="images/angularjs.jpg">
    <div class="blur-more">
      <h3>EzWeb c'est...</h3>
      <ul class="fa fa-ul">
        <li><i class="fa fa-google"></i> Écosystème interne SG basé sur AngularJS</li>
        <li><i class="fa fa-twitter"></i> Bootstrap "SG"</li>
        <li><i class="fa fa-map-signs"></i> Conventions fortes</li>
        <li><i class="fa fa-wrench"></i> Outils pré-configurés</li>
        <li><i class="fa fa-table"></i> Composants avancés</li>
        <li><i class="fa fa-ambulance"></i> Support et évolutions</li>
      </ul>
    </div>
  </section>
  <section data-background="../images/numbers.jpg">
    <h3>Des ch1ffr35 !</h3>
    <div class="blur-more">
      <ul class="fa fa-ul">
        <li><i class="fa fa-object-group"></i> <span class="important">500</span>+ projets</li>
        <li><i class="fa fa-users"></i> <span class="important">1200 </span> - <span class="important">1500</span> développeurs</li>
        <li><i class="fa fa-hand-spock-o"></i> <span class="important">6,5</span> personnes dans l'équipe</li>
        <li><i class="fa fa-github"></i> ~<span class="important">100</span> dépôts Github Enterprise</li>
        <li><i class="fa fa-code-fork"></i> ~<span class="important">600</span> <em>Pull Requests</em></li>
        <li><i class="fa fa-archive"></i> ~<span class="important">500</span> releases</li>
      </ul>
    </div>
    <div class="credits">
      <a href="https://www.flickr.com/photos/morebyless/">morebyless, Flickr</a>
    </div>
  </section>
  <section data-background="../images/road.jpg">
    <h3>Le futur c'est maintenant !</h3>
    <h5><small>enfin pour EzWeb...</small></h5>
    <div class="blur-more">
      <ul class="fa fa-ul">
        <li><i class="fa fa-google"></i> Nouvelle version sur Angular <span class="strike">2</span></li>
        <li><i class="fa fa-facebook-official"></i> Support de React</li>
        <li><i class="fa fa-windows"></i> Développement en TypeScript</li>
        <li><i class="fa fa-twitter"></i> Etude de Bootstrap v4 (encore en <span class="source-sans">&alpha;</span>)</li>
      </ul>
    </div>
    <div class="credits">
      <a href="https://www.flickr.com/photos/aigle_dore/">Moyan Brenn, Flickr</a>
    </div>
  </section>
</section>
