<section data-background="images/peur.png" class="partial">
  <div class="blur-more">
    <h3>Challenge : coder 100,000 lignes de JavaScript ?</h3>
  </div>
</section>

<section class="partial">
  <h3>Le JavaScript c'est <span class="fragment fade-out">sale</span><span class="fragment">surprenant</span></h3>
  <img src="./images/js-sale.png" alt=""/>
</section>

<section class="partial">
  <section>
    <h3>Petit jeu...</h3>
    <table>
      <thead>
        <tr>
          <th>Code</th>
          <th></th>
          <th>Résultat</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><code id="code1">[] + []</code></td>
          <td><button class="btn" onclick="game(1)"><i class="fa fa-arrow-right"></i></button></td>
          <td class="right"><code id="res1"></code></td>
        </tr>
        <tr class="fragment">
          <td><code id="code2">[] + {}</code></td>
          <td><button class="btn" onclick="game(2)"><i class="fa fa-arrow-right"></i></button></td>
          <td class="right"><code id="res2"></code></td>
        </tr>
        <tr class="fragment">
          <td><code id="code3">{} + []</code></td>
          <td><button class="btn" onclick="game(3)"><i class="fa fa-arrow-right"></i></button></td>
          <td class="right"><code id="res3"></code></td>
        </tr>
        <tr class="fragment">
          <td><code id="code4">{} + {}</code></td>
          <td><button class="btn" onclick="game(4)"><i class="fa fa-arrow-right"></i></button></td>
          <td class="right"><code id="res4"></code></td>
        </tr>
        <tr class="fragment">
          <td><code id="code5">++[[]][+[]]+[+[]] === '10'</code></td>
          <td><button class="btn" onclick="game(5)"><i class="fa fa-arrow-right"></i></button></td>
          <td class="right"><code id="res5"></code></td>
        </tr>
      </tbody>
    </table>
  </section>

  <section>
    <h3>Des résultats étranges</h3>
    <pre><code>
      > null == 0
      false

      > null > 0
      false

      > null >= 0
      true
    </code></pre>
  </section>

  <script>
    function game(index) {
      var code = document.querySelector('#code' + index).innerHTML;
      var res = eval(code);
      if (res === '') {
        res = '""';
      }
      document.querySelector('#res' + index).innerHTML = res;
    }
  </script>

  <section>
    <h3><em>The Wall of Six</em></h3>
    <p style="font-size: 30px;">
[][(![]+[])[+[]]+([![]]+[][[]])[+!+[]+[+[]]]+(![]+[])[!+[]+!+[]]+(!![]+[])[+[]]+(!![]+[])[!+[]+!+[]+!+[]]+(!![]+[])[+!+[]]][([][(![]+[])[+[]]+([![]]+[][[]])[+!+[]+[+[]]]+(![]+[])[!+[]+!+[]]+(!![]+[])[+[]]+(!![]+[])[!+[]+!+[]+!+[]]+(!![]+[])[+!+[]]]+[])[!+[]+!+[]+!+[]]+(!![]+[][(![]+[])[+[]]+([![]]+[][[]])[+!+[]+[+[]]]+(![]+[])[!+[]+!+[]]+(!![]+[])[+[]]+(!![]+[])[!+[]+!+[]+!+[]]+(!![]+[])[+!+[]]])[+!+[]+[+[]]]+([][[]]+[])[+!+[]]+(![]+[])[!+[]+!+[]+!+[]]+(!![]+[])[+[]]+(!![]+[])[+!+[]]+([][[]]+[])[+[]]+([][(![]+[])[+[]]+([![]]+[][[]])[+!+[]+[+[]]]+(![]+[])[!+[]+!+[]]+(!![]+[])[+[]]+(!![]+[])[!+[]+!+[]+!+[]]+(!![]+[])[+!+[]]]+[])[!+[]+!+[]+!+[]]+(!![]+[])[+[]]+(!![]+[][(![]+[])[+[]]+([![]]+[][[]])[+!+[]+[+[]]]+(![]+[])[!+[]+!+[]]+(!![]+[])[+[]]+(!![]+[])[!+[]+!+[]+!+[]]+(!![]+[])[+!+[]]])[+!+[]+[+[]]]+(!![]+[])[+!+[]]]([!+[]+!+[]+!+[]+!+[]]+[!+[]+!+[]])()
    </p>
    <p>équivalent à <code>42</code></p>
    <p><i class="fa fa-question-circle"></i> <a href="http://slides.com/sylvainpv/xchars-js/" target="_blank">http://slides.com/sylvainpv/xchars-js/</a></p>
  </section>

  <section data-background="./images/darth-vader.png" data-background-size="500px">
    <h3 class="red">Go home JavaScript</h3>`
    <h3 class="red">you're drunk!</h1>
  </section>
</section>
