
<section class="partial">
  <section data-background="images/chapitre-1.jpg">
    <h2 class="blur"><span class="title-index">#1</span> Choisir le bon langage</h2>
  </section>

  <section>
    <ul class="fa-ul">
      <li class="strike"><i class="fa-li fa fa-caret-right"></i> Google Dart</li>
      <li class="strike"><i class="fa-li fa fa-caret-right"></i> Coffee Script</li>
      <li><i class="fa-li fa fa-caret-right"></i> ES6+</li>
      <li><i class="fa-li fa fa-caret-right"></i> TypeScript</li>
    </ul>
  </section>
</section>

<section class="partial">
  <section>
    <h3>ECMAScript</h3>
    <p>Spécifications ECMA-262 &amp; ECMA-402</p>
    <table>
      <tr>
        <td>ES1</td>
        <td>ES2</td>
        <td>ES3</td>
        <td>ES4</td>
        <td>ES5</td>
        <td>ES6</td>
        <td>ES7</td>
        <td>ES8</td>
        <td>ES9</td>
      </tr>
      <tr>
        <td>1997</td>
        <td>1998</td>
        <td>1999</td>
        <td><i class="fa fa-skull"></i></td>
        <td>2009</td>
        <td>2015</td>
        <td>2016</td>
        <td>2017</td>
        <td>2018</td>
      </tr>
    </table>
  </section>

  <section>
    <h3>ES6 / ES2015</h3>
  </section>

  <section>
    <h3>Principales évolutions</h3>
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-caret-right"></i> Définition des <code>class</code></li>
      <li><i class="fa-li fa fa-caret-right"></i> Opérateur <code>=></code></li>
      <li><i class="fa-li fa fa-caret-right"></i> Syntaxe <code>for ... of</code></li>
      <li><i class="fa-li fa fa-caret-right"></i> Modules</li>
      <li><i class="fa-li fa fa-caret-right"></i> Promesses</li>
      <li><i class="fa-li fa fa-caret-right"></i> Structure de données</li>
      <li><i class="fa-li fa fa-globe"></i> <a target="_blank" href="http://es6-features.org/">http://es6-features.org/</a></li>
    </ul>
  </section>
  <section>
    <h3>Classe ES6</h3>
    <pre><code class="hljs" data-trim>
class Foo extends Bar {
  // constructeur
  constructor(name = 'Sherlock Holmes') {
    super();
    this._name = name;
    // ES5: this._name = name || 'Sherlock Holmes';
  }

  get name() { return this._name; } // let myName = myFoo.name;
  set name(name) { this._name = name; } // myFoo.name = 'Dr. Watson';

  welcome() {
    const lower = this._name.toLowerCase();
    return `Bonjour
            ${lower} !`;
    // ES5: return 'Bonjour \n' + lower + ' !';
  }
}
    </code></pre>
  </section>
  <section>
    <h3>Classe ES6</h3>
    <pre><code class="hljs" data-trim>
class Foo extends Bar {
  // Fonction statique
  static defaultFoo() {
    return new Foo('Dr. Watson');
  }
}

let myFoo = Foo.defaultFoo();
    </code></pre>
  </section>

  <section>
    <h3>Opérateur <code>=&gt;</code></h3>
    <pre><code class="hljs" data-trim>
const nombres = [1, 2, 3, 4, 5, 6, 7, 8, 9];
// ES6
let pairs = nombres.filter(n => n % 2 === 0);

// ES5
var pairs = nombres.filter(function(n) {
  return n % 2 === 0;
});
    </code></pre>
  </section>

  <section>
    <h3>Opérateur <code>=&gt;</code> et <code>this</code></h3>
    <pre><code class="hljs" data-trim>
// ES6
this.nombres.forEach(n => {
  this.maListe.push(n);
});

// ES5
this.nombres.forEach(function(n) {
  this.maListe.push(n);
}.bind(this));
// ou
var self = this;
this.nombres.forEach(function(n) {
  self.maListe.push(n);
});
    </code></pre>
  </section>

  <section>
    <h3><code>for of</code></h3>
    <pre><code class="hljs" data-trim>
const lettres = ['a', 'b', 'c', 'd', 'e'];

for (var i = 0; i < lettres.length; i++) {
  console.log('lettre ', lettres[i]);
}

for (let i in lettres) {
  console.log('lettre ', i);
  // console.log('lettre', lettres[i]);
}
// Affiche 'lettre 0', 'lettre 1', 'lettre 2', 'lettre 3', ...

// ES6
for (let lettre of lettres) {
  console.log('lettre ', lettre);
}
// Affiche 'lettre a', 'lettre b', 'lettre c', 'lettre d', ...
    </code></pre>
  </section>

  <section>
    <h3>ES 2016</h3>
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-caret-right"></i> <span class="important">Cycle annuel</span> !</li>
      <li><i class="fa-li fa fa-caret-right"></i> opérateur <code>**</code></li>
      <li><i class="fa-li fa fa-caret-right"></i> <code>Array.prototype.includes()</code></li>
    </ul>
  </section>

  <section>
    <h3>ES 2017</h3>
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-caret-right"></i> <code>async</code> &amp; <code>await</code></li>
      <li><i class="fa-li fa fa-caret-right"></i> <code>Object.entries()</code> et <code>Object.values()</code></li>
      <li><i class="fa-li fa fa-caret-right"></i> <code>String.padStart()</code> et <code>String.padEnd()</code></li>
      <li><i class="fa-li fa fa-caret-right"></i> <code>Object.getOwnPropertyDescriptors()</code></li>
    </ul>
  </section>

  <section>
    <h3>ES 2018</h3>
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-caret-right"></i> <code>Promise.finally</code></li>
      <li><i class="fa-li fa fa-caret-right"></i> Object rest / spread properties</li>
      <li><i class="fa-li fa fa-caret-right"></i> RegExp enhancements</li>
      <li><i class="fa-li fa fa-caret-right"></i> Asynchronous iterators</li>
    </ul>
  </section>

  <section>
    <h3>ES 2019</h3>
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-caret-right"></i> Optional <code>catch</code> binding</li>
      <li><i class="fa-li fa fa-caret-right"></i> <code>Function.prototype.toString</code> revision</li>
    </ul>
  </section>

  <section>
    <h3>Et la compatibilité ?</h3>
    <p>
      <ul class="fa-ul">
        <li><i class="fa-li fa fa-table"></i> <a href="http://kangax.github.io/compat-table/es2016plus/" target="_blank">Tableau de compatibilité</a></li>
        <li><i class="fa-li fa fa-caret-right"></i> <a href="https://caniuse.com/#" target="_blank">https://caniuse.com/</a></li>
        <li><i class="fa-li fa fa-caret-right"></i> Transpilation</li>
      </ul>
    </p>
  </section>
</section>

<section class="partial">
  <section>
    <h3>TypeScript</h3>
    <ul class="fa fa-ul">
      <li><i class="fa-li fa fa-caret-right"></i> ES5 <i class="fa fa-angle-right"></i> ES6 <i class="fa fa-angle-right"></i> TypeScript</li>
      <li><i class="fa-li fa fa-caret-right"></i> Apporte essentiellement le <span class="important">typage</span>, les <span class="important">interfaces</span> et les <span class="important">decorators</span>.</li>
      <li><i class="fa-li fa fa-windows"></i> Créé par Microsoft, popularisé par Angular 2.</li>
      <li><i class="fa-li fa fa-globe"></i> <a target="_blank" href="https://www.typescriptlang.org/">https://www.typescriptlang.org/</a></li>
    </ul>
  </section>

  <section>
    <h3>exemple TypeScript</h3>
    <pre><code class="hljs" data-trim>
interface ClockInterface {
  currentTime: Date;
  setTime(d: Date): void;
}

class Clock implements ClockInterface  {
  currentTime: Date;
  setTime(d: Date) {
    this.currentTime = d;
  }
  constructor(h: number, m: number) {
    // ...
  }
}
    </code></pre>
  </section>

  <section>
      <h3>Decorators</h3>
      <pre><code class="hljs" data-trim>
import { Component } from '@angular/core';

@Component({
  selector: 'my-app',
  template: `&lt;h1&gt;Hello {{name}}&lt;/h1&gt;`
})
export class AppComponent { name = 'Angular'; }
      </code></pre>
    </section>

    <section>
      <pre><code class="hljs" data-trim>
import {Controller, Get, Post, Body, Param} from '@nestjs/common';

@Controller('cats')
export class CatsController {
  @Post()
  create(@Body() createCatDto) {
    return 'This action adds a new cat';
  }

  @Get()
  findAll(@Query() query) {
    return `This action returns all cats (limit: ${query.limit} items)`;
  }

  @Get(':id')
  findOne(@Param('id') id) {
    return `This action returns a #${id} cat`;
  }
}
      </code></pre>
    </section>
  </section>

  <section class="partial">
    <section>
      <svg class="flow-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 498.39 252.33" style="height: 50vh">
        <title>Flow logo</title>
        <g class="flow-logo-mark">
          <path fill="#ffca20" opacity=".7" d="M224.74 109l-84.11-84.1h84.11z"></path>
          <path fill="#ffca20" opacity=".7" d="M81.72 0h47.68l36.44 36.43H81.72z"></path>
          <path fill="#ffcf39" opacity=".9" d="M84.45 84.12L.34 0h101.13v84.11zm73.89 84.1l84.11 84.11h-84.11z"></path>
          <path fill="#ffe490" opacity=".7" d="M101.47 168.23l-84.1-84.12h84.11v84.11zm90.58-42.57L125 58.57h67.08zm7.84 118.84l-76.28-76.27h76.28z"></path>
          <path fill="#fcbc7c" opacity=".9" d="M101.47 67l-67-67h67z"></path>
          <path fill="#f9a040" opacity=".8" d="M123.95 168.22l84.11 84.11h-84.11z"></path>
          <path fill="#f9a040" opacity=".7" d="M209.08 201.8l-84-84h84z"></path>
          <path fill="#ffcf39" opacity=".9" d="M125 58.57l83.09 83.09H125z"></path>
          <path fill="#ffc737" opacity=".7" d="M101.47 252L0 150.51h101.47V252z"></path>
        </g>
        <path class="flow-logo-text" fill="#eee" d="M311.18 108.38h19.55v4.78h-19.55v50.77h-5.55v-50.77h-11.12v-4.78h11.11v-9.33q0-7.78 4.33-12.28t12.22-4.5q6 0 9 3l-1.56 4.44a10.21 10.21 0 0 0-7-2.44q-5.44 0-8.44 3.17t-3 9.17zm31.11 42.1q0 5.11 1.61 7.22t5.39 2.11a15.55 15.55 0 0 0 7.33-1.56l-.78 5.33a17.29 17.29 0 0 1-7.33 1.44q-6 0-8.89-3.39T336.73 151V82.83h5.55zM405.78 115q7.05 7.72 7.06 21.17t-7.05 21.16q-7.07 7.67-19.38 7.67T367 157.32q-7-7.72-7-21.16t7-21.16q7.05-7.7 19.41-7.7t19.37 7.7zm-34.71 3.5q-5.55 6.44-5.55 17.66t5.55 17.66q5.55 6.44 15.33 6.44t15.33-6.44q5.55-6.44 5.55-17.66t-5.55-17.66q-5.56-6.5-15.34-6.5t-15.34 6.46zm127.33-10.09l-19 55.55h-5.58l-17.55-48.55-17.11 48.55h-5.56l-19-55.55h6.22l15.55 49 17.33-49h5.58l17.2 49 15.69-49z"></path>
      </svg>
    </section>
    <section>
      <h3>Flow example</h3>
      <pre><code class="hljs" data-trim>
// @flow

function foo(x: ?number): string {
  if (x) {
    return x;
  }
  return "default string";
}
      </code></pre>
    </section>

    <section>
      <h3>Flow interfaces</h3>
      <pre><code class="hljs" data-trim>
// @flow
interface Serializable {
  serialize(): string;
}

class Foo implements Serializable {
  serialize() { return '[Foo]'; } // Works!
}

class Bar implements Serializable {
  // $ExpectError
  serialize() { return 42; } // Error!
}  
      </code></pre>
    </section>

    <section>
      <h3>Flow covariance</h3>
      <pre><code class="hljs" data-trim>
// @flow
interface Invariant {  property: number | string }
interface Covariant { +readOnly: number | string }

function method1(value: Invariant) {
  value.property;        // Works!
  value.property = 3.14; // Works!
}

function method2(value: Covariant) {
  value.readOnly;        // Works!
  // $ExpectError
  value.readOnly = 3.14; // Error!
}  
      </code></pre>
    </section>

  <section>
    <h3>Tendance 2018 - State of JS</h3>
    <p>
      <a href="https://2018.stateofjs.com/javascript-flavors/overview/" target="_blank">https://2018.stateofjs.com/javascript-flavors/overview/</a>
    </p>
  </section>
</section>
