<section class="partial">
  <section data-background="images/chapitre-2.jpg">
    <h2 class="blur"><span class="title-index">#2</span> Les frameworks</h2>
  </section>

  <section>
    <p>Les nouveaux besoins imposent des changements d'architecture :</p>
    <ul class="fragment2 fa-ul">
      <li><i class="fa-li fab fa-cloudscale"></i> Temps de réponse <span class="important">instantané</span></li>
      <li><i class="fa-li fa fa-mobile-alt"></i> Gestion des réseaux lents, aléatoires...</li>
      <li><i class="fa-li fa fa-power-off"></i> Mode <span class="important">déconnecté</span></li>
    </ul>
    <p class="fragment">Les architectures <strong>SPA</strong> (<em>Single Page Application</em>)<br/> sont <strong>une</strong> solution.</p>
  </section>
  <section>
    <h3>Architecture classique</h3>
    <img src="./images/mvc1.png" alt="" class="no-border"/>
  </section>
  <section>
    <h3>Architecture "SPA"</h3>
    <img src="./images/front-end-architecture.svg" alt="" class="no-border" style="background-color: white;"/>
  </section>

  <section>
    <h3><i class="fab fa-google"></i> AngularJS</h3>
    <ul class="fa-ul">
      <li><i class="fa-li fab fa-google"></i> Framework SPA par Google</li>
      <li><i class="fa-li far fa-object-group"></i> Découplage "MVC"</li>
      <li><i class="fa-li fa fa-flask"></i> Complètement testable</li>
      <li><i class="fa-li fa fa-exchange-alt"></i> Double binding</li>
      <li><i class="fa-li fa fa-users"></i> Enorme communauté</li>
      <li><i class="fa-li fa fa-heartbeat"></i> Remplacé par Angular ("<em>tout court</em>")</li>
    </ul>
  </section>

  <section>
    <h3><i class="fab fa-google"></i> Angular</h3>
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-pen"></i> Réécriture complète</li>
      <li><i class="fa-li fa fa-boxes"></i> Approche <code>Components</code></li>
      <li><i class="fa-li fab fa-js-square"></i> Ecrit en TypeScript</li>
      <li><i class="fa-li far fa-calendar-alt"></i> Nouveau rythme de releases (2 / an)</li>
    </ul>
  </section>
  <section>
    <a href="https://stackblitz.com/edit/angular-ez8to8" target="_blank">Example</a>
  </section>

  <section>
    <h3><i class="fab fa-facebook"></i> React</h3>
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-boxes"></i> Basé sur les <code>Components</code></li>
      <li><i class="fa-li fa fa-eye"></i> Uniquement la partie vue</li>
      <li><i class="fa-li far fa-hand-point-up"></i> Plus de simplicité...</li>
      <li><i class="fa-li fa fa-cogs"></i> ... mais demande de créer son écosystème</li>
    </ul>
  </section>
  <section>
      <a href="https://stackblitz.com/edit/react-j2swsb" target="_blank">Example</a>
  </section>

  <section>
      <img src="images/vuejs.png" alt="VueJS" style="height: 20vh">
      <h3>VueJS</h3>
    <ul class="fa-ul">
      <li><i class="fa-li fab fa-google"></i> Proche d'AngularJS (v1)</li>
      <li><i class="fa-li far fa-thumbs-up"></i> Suscite beaucoup d'intérêt</li>
      <li><i class="fa-li fa fa-fast-forward"></i> Très facile d'accès</li>
      <li><i class="fa-li far fa-building"></i> Pas de grosses entreprise derrière</li>
      <li><i class="fa-li fa fa-calendar"></i> v3 prévue en 2019</li>
    </ul>
  </section>
  <section>
    <a href="https://scrimba.com/p/pXKqta/czPNaUr" target="_blank">Example</a>
  </section>

  <section>
    <h3>Tendances 2018 - State of JS</h3>
    <p>
      <a href="https://2018.stateofjs.com/front-end-frameworks/overview/" target="_blank">https://2018.stateofjs.com/front-end-frameworks/overview/</a>
    </p>
  </section>
</section>
