<section class="partial">
  <section>
    <h3><span class="title-index">#2</span> Les architectures MV*</h3>
    <p>Les nouveaux besoins imposent des changements d'architecture :</p>
    <ul class="fragment2 fa-ul">
      <li><i class="fa-li fa fa-clock-o"></i> Temps de réponse <span class="important">instantané</span></li>
      <li><i class="fa-li fa fa-mobile"></i> Gestion des réseaux lents, aléatoires...</li>
      <li><i class="fa-li fa fa-power-off"></i> Mode <span class="important">déconnecté</span></li>
    </ul>
    <p class="fragment">Les architectures <strong>SPA</strong> (<em>Single Page Application</em>)<br/> sont une solution.</p>
  </section>
  <section>
    <h3>Architecture classique</h3>
    <img src="./images/mvc1.png" alt="" class="no-border"/>
  </section>
  <section>
    <h3>Architecture "SPA"</h3>
    <img src="./images/mvc2.png" alt="" class="no-border"/>
  </section>

  <section>
    <h3><i class="fa fa-google"></i> AngularJS</h3>
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-google"></i> Framework SPA par Google</li>
      <li><i class="fa-li fa fa-object-group"></i> Découplage "MVC"</li>
      <li><i class="fa-li fa fa-flask"></i> Complètement testable</li>
      <li><i class="fa-li fa fa-arrows-h"></i> Double binding</li>
      <li><i class="fa-li fa fa-users"></i> Enorme communauté</li>
      <li><i class="fa-li fa fa-heartbeat"></i> Remplacé par Angular ("<em>tout court</em>")</li>
    </ul>
  </section>

  <section>
    <h3><i class="fa fa-google"></i> Angular <span class="strike">2</span></h3>
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-caret-right"></i> Nouvelle version d'Angular.</li>
      <li><i class="fa-li fa fa-caret-right"></i> Concepts de la v1 abandonnés.</li>
      <li><i class="fa-li fa fa-caret-right"></i> Basé sur les <code>Components</code>.</li>
      <li><i class="fa-li fa fa-caret-right"></i> Ecrit en TypeScript.</li>
      <li><i class="fa-li fa fa-calendar"></i> Nouveau rythme de releases.</li>
      <li><i class="fa-li fa fa-warning"></i> Manque de maturité.</li>
      <li><i class="fa-li fa fa-cogs"></i> Complexité ?</li>
    </ul>
  </section>

  <section>
    <h3><i class="fa fa-facebook"></i> React</h3>
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-caret-right"></i> Basé sur les <code>Components</code>.</li>
      <li><i class="fa-li fa fa-cogs"></i> Plus de simplicité...</li>
      <li><i class="fa-li fa fa-cogs"></i> ... mais demande de créer son écosystème.</li>
      <li><i class="fa-li fa fa-copyright"></i> <span class="strike">Problème de licence.</span></li>
    </ul>
  </section>

  <section>
    <h3>VueJS</h3>
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-caret-right"></i> Proche d'AngularJS (v1).</li>
      <li><i class="fa-li fa fa-caret-right"></i> Suscite l'intérêt depuis 2016.</li>
      <li><i class="fa-li fa fa-cogs"></i> Très facile d'accès.</li>
      <li><i class="fa-li fa fa-question"></i> Pas de grosses entreprise derrière</li>
    </ul>
  </section>
</section>
