<section class="partial">
  <h3><span class="title-index">#3</span> Modulariser</h3>
  <p>Apprendre à découper son code en <span class="important">modules</span>.</p>
  <ul class="fa-ul">
    <li><i class="fa-li fa fa-caret-right"></i> Isolation du code.</li>
    <li><i class="fa-li fa fa-caret-right"></i> Faible couplage.</li>
    <li><i class="fa-li fa fa-caret-right"></i> Présentation d'une interface.</li>
    <li><i class="fa-li fa fa-caret-right"></i> Profiter des modules ES6 / TS.</li>
  </ul>
</section>
