<section class="partial">
  <section>
    <h3><span class="title-index">#4</span> Analyser son code</h3>
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-caret-right"></i> Être capable de détecter des <span class="important">parties sales</span>.</li>
      <li><i class="fa-li fa fa-caret-right"></i> Limiter les <span class="important">erreurs</span> de développements.</li>
      <li><i class="fa-li fa fa-caret-right"></i> Forcer les <span class="important">bonnes pratiques</span>.</li>
      <li><i class="fa-li fa fa-caret-right"></i> Intégration dans les IDE pour des retours immédiats.</li>
    </ul>
  </section>

  <section>
    <h3>Les outils</h3>
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-caret-right"></i> ES5 : JsHint, JsLint, Jscs</li>
      <li><i class="fa-li fa fa-caret-right"></i> ES6 : ESLint</li>
      <li><i class="fa-li fa fa-caret-right"></i> TS : TSLint</li>
      <li><i class="fa-li fa fa-caret-right"></i> SonarQube &amp; SonarLint</li>
    </ul>
  </section>
</section>

<section class="partial">
  <section>
    <h3>SonarQube</h3>
  </section>

  <section>
    <h3>SonarJS plugin</h3>
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-caret-right"></i> Plugin d'analyse JavaScript</li>
      <li><i class="fa-li fa fa-caret-right"></i> <strong>187</strong> règles existantes</li>
    </ul>
    <img src="images/sonarjs-plugin.png">
  </section>

  <section>
    <h3>SonarTS plugin</h3>
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-caret-right"></i> Plugin d'analyse TypeScript</li>
      <li><i class="fa-li fa fa-caret-right"></i> <strong>73</strong> règles existantes</li>
    </ul>
    <img src="images/sonarts-plugin.jpg">
  </section>

  <section>
    <h3>SonarLint</h3>
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-caret-right"></i> Integration de l'analyse Sonar dans les IDE</li>
      <li><i class="fa-li fa fa-caret-right"></i> IntelliJ</li>
      <li><i class="fa-li fa fa-caret-right"></i> Visual Studio</li>
      <li><i class="fa-li fa fa-caret-right"></i> Code</li>
      <li><i class="fa-li fa fa-caret-right"></i> Eclipse</li>
      <li><i class="fa-li fa fa-caret-right"></i> Atom</li>
    </ul>
  </section>
  <section>
    <h3>SonarLint</h3>
    <img src="images/sonarts-plugin.jpg">
  </section>
</section>
