<section class="partial">
  <section data-background="images/chapitre-7.jpg">
    <h2 class="blur"><span class="title-index">#7</span> Les tendances 2019</h2>
  </section>

  <section data-background="images/guerre.jpg">
    <div class="blur-more">
      <h3>La guerre des frameworks</h3>
      <ul class="fa-ul fragment">
        <li><i class="fa-li fas fa-sun" style="color: gold"></i> React</li>
        <li><i class="fa-li fas fa-cloud-showers-heavy" style="color: light-grey"></i> Angular</li>
        <li><i class="fa-li fas fa-sun" style="color: gold"></i> VueJS</li>
      </ul>
    </div>
  </section>

  <section>
    <h3>TypeScript FTW</h3>
    <img src="./images/ts-ftw.png" alt="TypeScript">
    <p><a href="https://2018.stateofjs.com/javascript-flavors/typescript/" target="_blank">State of JS</a></p>
  </section>

  <section>
    <h3>L'émergence de GraphQL</h3>
    <p><a href="https://graphql.org/" target="_blank">https://graphql.org/</a></p>
  </section>
</section>
  