<section class="partial">
  <section>
    <h3><span class="title-index">#7</span> Les tendances pour 2019 ?</h3>
  </section>

  <section data-background="images/avengers.jpg">
    <div class="blur-more">
      <h3>La guerre des frameworks</h3>
      <ul class="fa-ul fragment">
        <li><i class="fa-li fas fa-sun" style="color: gold"></i> React</li>
        <li><i class="fa-li fas fa-cloud-showers-heavy" style="color: light-grey"></i> Angular</li>
        <li><i class="fa-li fas fa-sun" style="color: gold"></i> VueJS</li>
      </ul>
    </div>
  </section>

  <section>
    <h3>TypeScript FTW</h3>
    <img src="./images/ts-ftw.png" alt="TypeScript">
    <p><a href="https://2018.stateofjs.com/javascript-flavors/typescript/" target="_blank">State of JS</a></p>
  </section>

  <section>
    <h3>L'émergence de GraphQL</h3>
  </section>
</section>
  