<section class="partial">
  <h3><span class="title-index">#7</span> L'automatisation</h3>
  <p>
    L'automatisation est la clé du succès de l'équipe :
  </p>
  <ul class="fa-ul">
    <li><i class="fa-li fa fa-random"></i> <span class="important">Intégration continue</span> des développements de l'équipe</li>
    <li><i class="fa-li fa fa-play"></i> Exécution automatique des <span class="important">tests</span> unitaires</li>
    <li><i class="fa-li fa fa-bug"></i> Détection des régressions</li>
    <li><i class="fa-li fa fa-search"></i> Analyse du code</li>
    <li><i class="fa-li fa fa-envelope"></i> <span class="important">Informer</span> immédiatement les développeurs de la moindre alerte</li>
  </ul>
</section>
