<section class="partial">
  <h1>Conclusion</h1>
</section>

<section data-background="./images/bisounours.png" class="partial">
  <h3 class="red">Le monde des Bisounours ?</h3>
  <h1>&nbsp;</h1>
  <h1>&nbsp;</h1>
</section>

<section class="partial">
  <h3>Hélas pas tout à fait <i class="fa fa-frown-o"></i></h3>
  <ul class="fa-ul">
    <li><i class="fa-li fa fa-caret-right"></i> Courbe d'apprentissage</li>
    <li><i class="fa-li fa fa-caret-right"></i> Nouveautés à n'en plus finir</li>
    <li><i class="fa-li fa fa-caret-right"></i> Pérénité</li>
  </ul>
  <!--<img src="./images/new-js.png" alt="" class="no-border"/>-->
</section>

<section data-background="./images/new-js.png" class="partial"></section>

<section class="partial">
  <h1><i class="fa fa-comments"></i></h1>
  <h2>Questions</h2>
</section>
