<section data-background="images/devoxx-france-2017.png" class="partial">
  <section>
    <h2>Les choses à faire</h2>  
  </section>

  <section>
    <h3 class="blur">Quelques conseils</h3>
    <ul class="fa-ul blur super-box">
      <li>Soutien au speaker: ne vous spoilez pas !</li>
      <li>Pas trop de texte</li>
      <li>Fil conducteur, thème</li>
    </ul>
  </section>

  <section>
    <h3 class="blur">Côté esthétique</h3>
    <ul class="fa-ul blur super-box">
      <li>Slides épurés</li>
      <li>Homogénéité</li>
      <li>Thème visuel / graphique</li>
      <li>Code couleur</li>
      <li>Choix des images</li>
      <li>Animations sobres</li>
      <li>Highlight / shadowing</li>
    </ul>
  </section>

  <section>
    <h3 class="blur">Mais aussi</h3>
    <ul class="fa-ul blur super-box">
      <li>Sommaire</li>
      <li>Se présenter</li>
      <li>Template (ajout <i class="fa fa-twitter"></i>, #...)</li>
      <li>Conclusion: rappel des points principaux (&ldquo;giveaways&rdquo;)</li>
      <li>Tester en mode déconnecté !</li>
      <li>Phrases chocs</li>
    </ul>
  </section>
</section>
