<section data-background="images/devoxx-france-2017.png" class="partial">
  <section>
    <h2>Les choses à <span class="important">ne pas</span> faire</h2>  
  </section>

  <section>
    <h2>A eviter !</h2>
    <div class="blur left two-parts" style="font-size: 75%">
      <div class="left-part">
        <ul>
          <li>Les slides "bullets points"</li>
        </ul>
        <ul class="fragment">
          <li>Trop de bullets tue les bullets
            <ul>
              <li>C'est prouvé</li>
              <li>Si si</li>
              <li>En plus on arrive plus à lire
                <ul>
                  <li>Non c'est vrai</li>
                  <li>Vous ne trouvez pas ?</li>
                </ul>
              </li>
              <li>C'est moche</li>
              <li>Et pas beau</li>
              <li>Vous m'avez écouté ?
                <ul>
                  <li>Oui</li>
                  <li>Non</li>
                  <li>Obi-wan Kénobi</li>
                </ul>
              </li>
            </ul>
          </li>
          <li>C'est bon ?</li>
          <li>Promis, on arrête ?</li>
        </ul>
      </div>

      <ul class="right-part fragment">
        <li>Vous en voulez encore ?</li>
        <li>Non parce qu'on peut continuer</li>
        <li>Encore longtemps...</li>
        <li>Mais bon, vous avez compris le point.</li>
        <li style="font-size: 75%">Et puis de toutes façons les bullets points c'est so 2010, alors que là, on est en 2017 - quasi 2018 - alors bon, arrêtons un peu avec les bullets points. En plus ça ne sert à rien...</li>
        <li style="font-size: 50%">Je vous ai dit qu'il ne faut pas écrire trop petit ? Non, c'est normal, c'est au slide suivant. Mais bon, pas sûr que vous ayez pu lire jusque là...</li>
        <li style="font-size: 25%">Bla bla bla, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non euismod erat, eget pharetra purus. Cras a hendrerit sem. Fusce dictum metus eget mauris condimentum, sed viverra dolor ornare. Morbi volutpat ipsum a dui faucibus, non porttitor ante ultricies. Etiam sit amet finibus leo. Donec vitae sagittis arcu, sit amet viverra turpis. Vivamus sapien felis, gravida in nisl eget, mollis convallis tellus. Sed imperdiet pharetra lectus sed condimentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
      </ul>
    </div>
  </section>

  <section>
    <h4 class="blur">Et aussi</h4>
    <ul class="fa-ul blur" style="width: 100%">
      <li>La forme avant le fond</li>
      <li>Trop flashy / animé</li>
      <li>Mauvaise police de caractère / taille</li>
      <li>Les fôtes d'ortografe</li>
    </ul>
  </section>
  
</section>

