<section data-background="images/devoxx-france-2017.png" class="partial">
  <section>
    <h2>Les outils</h2>  
  </section>

  <section>
    <h2>Powerpoint | Keynote</h2>
    <div class="two-parts blur-more">
      <div class="left-part fragment">
        <h5><i class="fa fa-thumbs-o-up"></i> Cool</h5>
        <ul class="fa-ul">
          <li>Facile</li>
          <li>Puissant</li>
          <li>Flexible</li>
        </ul>
      </div>
      <div class="right-part fragment">
        <h5><i class="fa fa-thumbs-o-down"></i> Pas cool</h5>
        <ul class="fa-ul">
          <li>Trop classique</li>
          <li>Collaboration</li>
          <li>&nbsp;</li>
        </ul>
      </div>
    </div>
  </section>

  <section>
    <h2>HTML</h2>
    <div class="two-parts blur-more">
      <div class="left-part fragment">
        <h5><i class="fa fa-thumbs-o-up"></i> Cool</h5>
        <ul class="fa-ul">
          <li>Simple</li>
          <li>Collaboratif</li>
          <li>Visible en ligne</li>
          <li>Intégration code</li>
        </ul>
      </div>
      <div class="right-part fragment">
        <h5><i class="fa fa-thumbs-o-down"></i> Pas cool</h5>
        <ul class="fa-ul">
          <li>Trop basique</li>
          <li>Ca reste du code</li>
          <li>Difficile à manipuler</li>
          <li>&nbsp;</li>
        </ul>
      </div>
    </div>
  </section>

  <section>
    <h2>Les outils HTML</h2>
    <div class="blur-more left">
      <ul>
        <li><a href="https://revealjs.com/#/">Reveal</a>
          <ul class="fa-ul">
            <li><a href="https://slides.com/">slides.com</a></li>
          </ul>
        </li>
        <li><a href="http://loicfrering.github.io/ruban/">Ruban</a></li>
      </ul>
    </div>
  </section>

  <section>
    <h2>Prezi</h2>
    <p>
      <a target="_blank"
      href="https://prezi.com/p/wrefms7dzd7v/embed/?bgcolor=000000&lock_to_path=1&autoplay=yes&autohide_ctrls=0">Exemple</a>
    </p>
    <div class="two-parts blur-more">
      <div class="left-part fragment">
        <h5><i class="fa fa-thumbs-o-up"></i> Cool</h5>
        <ul class="fa-ul">
          <li>Original</li>
          <li>Flexibilité</li>
          <li>Effet waouh...</li>
        </ul>
      </div>
      <div class="right-part fragment">
        <h5><i class="fa fa-thumbs-o-down"></i> Pas cool</h5>
        <ul class="fa-ul">
          <li>...ou pas</li>
          <li><i class="fa fa-warning"></i> Effet beurk</li>
          <li>payant</li>
        </ul>
      </div>
    </div>
  </section>
</section>
