<section data-background="images/devoxx-france-2017.png" class="partial">
  <div class="blur">
    <h2>Le Shadow DOM</h2>
    <h4>pour les nuls</h4>
  </div>
  <br><br>
  <div class="blur">
    <p class="white">
      <a href="http://linsolas.github.io">Romain Linsolas</a>
      &mdash;
      <a href="http://twitter.com/romaintaz">@romaintaz <i class="fa fa-twitter"></i></a>
    </p>
  </div>
  <div class="credits">

  </div>
</section>

<section data-background="../images/devoxx-2013.jpg" class="partial">
  <h2>Romain Linsolas</h2>
  <br>
  <div class="blur">
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-caret-right"></i> Développeur web &amp; Java</li>
      <li><i class="fa-li fa fa-caret-right"></i> Leader technique équipe front</li>
      <li><i class="fa-li fa fa-caret-right"></i> @ Société Générale</li>
      <li><i class="fa-li fa fa-caret-right"></i> Tout un tas d'autres choses...</li>
      <li><i class="fa-li fa fa-twitter"></i> @romaintaz</li>
    </ul>
  </div>
</section>
