<section class="partial">
  <h3>Shadow <span class="important">DOM</span>?</h3>
  <p><em>Document Object Model</em></p>
</section>

<section class="partial">
  <section>
    <h3>Dans quel but ?</h3>
  </section>

  <section>
    <h3><span class="important">(1)</span> Isolation du DOM</h3>
    <p>
      Depuis l'extérieur, pas moyen d'accéder à l'arbre des composants du shadow DOM.
    </p>
  </section>
  <section>
    <h3><span class="important">(2)</span> Contrôle de la portée du CSS</h3>
    <p>
      Le CSS de la page n'impacte pas le composant.
      <br>
      Le CSS du composant n'impacte pas la page.
    </p>
  </section>
</section>
