<section class="partial">
  <section>
    <h3>Shadow <span class="important">DOM</span>?</h3>
    <p><em>Document Object Model</em></p>
    <aside class="notes">
      DOM = interface permettant à des scripts d'accéder et de mettre à jour la structure, le contenu et les styles du document.
    </aside>
  </section>

  <section>
    <h3><span class="important">Shadow</span> DOM ?</h3>
    <p>Mais pourquoi ?</p>
  </section>

  <section>
    <h3><span class="important">(1)</span> Isoler le DOM</h3>
    <br>
    <p>
      Depuis <span class="important">l'extérieur</span>, cacher l'arbre des composants du shadow DOM.
    </p>
  </section>
  <section>
    <h3><span class="important">(2)</span> Contrôler la portée du CSS</h3>
    <br>
    <ul class="fa-ul">
      <li><i class="fa fa-download" style="color: #e60028"></i> Le CSS de la page n'impacte pas le composant.</li>
      <li><i class="fa fa-upload" style="color: #e60028;"></i> Le CSS du composant n'impacte pas la page.</li>
    </ul>
  </section>
</section>
