<section class="partial">
  <section>
    <h3>Création</h3>
    <pre><code data-trim data-noescape>
let root = document.querySelector('#root')
<mark>
root.attachShadow({mode: 'open'});
</mark>
let div = document.createElement('div');
div.innerHTML = 'A shadow DOM box...';
root.appendChild(div);
    </code></pre>
    <aside class="notes">
      Mode "closed" déconseillé : fausse sécurité, interactions plus complexes...
    </aside>
  </section>

  <section>
    <h3>DEMO !</h3>
  </section>
</section>
