<section class="partial">
  <section>
    <h2>Et sinon, dans la vraie vie ?</h2>
  </section>

  <section data-background="images/polymer.png" data-background-size="10%" data-background-repeat="repeat">
    <div class="blur-more">
      <h3>Google Polymer</h3>
      <ul class="fa-ul">
        <li><i class="fa fa-google"></i> Projet de Google pour créer des Web Components.</li>
        <li><i class="fa fa-snapchat-ghost"></i> Polymer v1 avec ShadyDOM</li>
        <li><i class="fa fa-snapchat-ghost"></i> Polymer v2 avec ShadowDOM</li>
        <li><i class="fa fa-globe"></i> <a href="https://www.polymer-project.org" target="_blank">https://www.polymer-project.org</a></li>
      </ul>
    </div>
  </section>

  <section data-background="images/angularjs.jpg">
    <div class="blur">
      <h3>Google Angular</h3>
      <ul class="fa-ul">
        <li><i class="fa fa-google"></i> Nouvelle version du framework SPA de Google</li>
        <li><i class="fa fa-snapchat-ghost"></i> Un <code>@Component</code> peut utiliser le shadowDOM grâce à <a href="https://angular.io/docs/js/latest/api/core/index/ViewEncapsulation-enum.html" target="_blank"><code>ViewEncapsulation.Native</code></a></li>
      </ul>
    </div>
    <pre><code data-trim data-noescape class="java">
@Component({
  selector: 'my-app',
  encapsulation: ViewEncapsulation.Native,
  style: `...`,
  template: `...`
});
    </code></pre>
  </section>

  <section>
    <h3>Ailleurs...</h3>
    <ul class="fa-ul">
      <li><i class="fa fa-angle-right"></i> React via module tiers</li>
      <li><i class="fa fa-angle-right"></i> VueJS via module tiers</li>
      <li><i class="fa fa-angle-right"></i> Aurelia, support natif</li>
    </ul>
  </section>
</section>
