<section class="partial">
  <section>
    <h3>Le Shadow DOM<br>et <strike>IE6</strike> les navigateurs</h3>
    <p>
      <img src="images/support-shadow-dom-v1.png" alt="support Shadow DOM v1">
    </p>
    <p>
      <i class="fa fa-globe"></i> <a href="http://caniuse.com/#feat=shadowdomv1" target="_blank">http://caniuse.com/#feat=shadowdomv1</a>
    </p>
  </section>

  <section>
    <h3>Polyfill</h3>
    <blockquote>
      Un polyfill est un ensemble de fonctions en JavaScript <span class="important">simulant</span> une fonctionnalité manquante au navigateur...
    </blockquote>
    <p>
      Exemple : les Web Components...
    </p>
    <p>
      <i class="fa fa-globe"></i> <a href="https://github.com/webcomponents/webcomponentsjs" target="_blank">https://github.com/webcomponents/webcomponentsjs</a>
    </p>
  </section>

  <section>
    <h3><i class="fa fa-warning important"></i> Problèmes</h3>
    <ul class="fa-ul">
      <li><i class="fa fa-caret-right"></i> Complexe à développer</li>
      <li><i class="fa fa-caret-right"></i> Peu performant</li>
      <li><i class="fa fa-caret-right"></i> Limité : <em>NodeList</em> non emulable...</li>
      <li><i class="fa fa-caret-right"></i> Proxification des <em>Node</em></li>
    </ul>
  </section>

  <section>
    <h3><span class="important">Shady</span> DOM</h3>
    <p>
      Moins correct, mais plus rapide et moins invasif que le Polyfill ShadowDOM.
    </p>
    <ul class="fa-ul">
      <li><i class="fa fa-globe"></i> <a href="https://github.com/webcomponents/shadydom" target="_blank">https://github.com/webcomponents/shadydom</a></li>
      <li><i class="fa fa-globe"></i> <a href="https://github.com/webcomponents/shadycss" target="_blank">https://github.com/webcomponents/shadycss</a></li>
    </p>
  </section>

  <section data-background="images/polymer.png" data-background-size="10%" data-background-repeat="repeat">
    <div class="blur-more">
      <h3>Polymer...</h3>
      <p>
        Projet de Google pour créer des Web Components.
      </p>
      <p><i class="fa fa-globe"></i> <a href="https://www.polymer-project.org">https://www.polymer-project.org</a></p>
    </div>
  </section>
</section>
