<section class="partial">
  <section data-background="images/thumbs-up.gif">
    <div class="blur">
      <h3>Les avantages</h3>
      <ul class="fa-ul">
        <li><i class="fa fa-thumbs-o-up up-vote"></i> Cloisonnement du CSS</li>
        <li><i class="fa fa-thumbs-o-up up-vote"></i> Mécanisme de composition</li>
        <li><i class="fa fa-thumbs-o-up up-vote"></i> Standard W3C</li>
      </ul>
    </div>
  </section>

  <section data-background="images/thumbs-down.gif">
    <div class="blur">
      <h3>Les inconvénients</h3>
      <ul class="fa-ul">
        <li><i class="fa fa-thumbs-o-down down-vote"></i> Support des navigateurs</li>
        <li><i class="fa fa-thumbs-o-down down-vote"></i> Polyfills complexes</li>
        <li><i class="fa fa-thumbs-o-down down-vote"></i> L'encapsulation du CSS par les CSS Modules</li>
      </ul>
    </div>
    <aside class="notes">
      Les modules CSS sont une "bidouille", à savoir une modification dynamique du nom des classes pour éviter toute collision.
      Ce n'est pas un standard.
    </aside>
  </section>
</section>
