<section class="partial">
  <section data-background="images/polymer.png" data-background-size="10%" data-background-repeat="repeat">
    <div class="blur-more">
      <h3>Polymer...</h3>
      <p>
        Projet de Google pour créer des Web Components.
      </p>
      <p><i class="fa fa-globe"></i> <a href="https://www.polymer-project.org">https://www.polymer-project.org</a></p>
    </div>
  </section>
  <section>
    <h3>Polymer &amp; le shadow DOM</h3>
    <p>
      Introduction du <span class="important">shady DOM</span> !
    </p>
  </section>
  <section>
    <h3>Polymer v2</h3>
    <p>Support du Shadow DOM v1</p>
  </section>
</section>
