<section class="partial">
  <section>
    <img src="images/thank-you.gif" alt="Merci <3">
  </section>

  <section data-background="images/question.gif">
    <div class="blur">
      <h2>Questions ?</h2>
    </div>
  </section>

  <section>
    <h2>Ressources</h2>
    <ul class="fa-ul">
      <li><i class="fa fa-globe"></i> <a href="https://w3c.github.io/webcomponents/spec/shadow/" target="_blank">Spécifications W3C</a></li>
      <li><i class="fa fa-globe"></i> <a href="https://developers.google.com/web/fundamentals/getting-started/primers/shadowdom" target="_blank">Shadow DOM v1</a></li>
      <li><i class="fa fa-globe"></i> <a href="https://www.polymer-project.org/2.0/docs/devguide/shadow-dom" target="_blank">Polymer v2 et le shadow DOM</a></li>
      <li><i class="fa fa-globe"></i> <a href="https://hayato.io/2016/shadowdomv1/" target="_blank">ShadowDOM v0 vs v1</a></li>
      <li><i class="fa fa-globe"></i> <a href="https://github.com/webcomponents/webcomponentsjs" target="_blank">Polyfill webcomponentsjs</a></li>
    </ul>
  </section>
</section>
