<section class="partial">
  <section>
    <h3>Les avantages</h3>
    <ul class="fa-ul">
      <li><i class="fa fa-thumbs-o-up up-vote"></i> Cloisonnement du CSS</li>
      <li><i class="fa fa-thumbs-o-up up-vote"></i> Standard W3C</li>
      <li><i class="fa fa-thumbs-o-up up-vote"></i> X</li>
      <li><i class="fa fa-thumbs-o-up up-vote"></i> X</li>
    </ul>
  </section>

  <section>
    <h3>Les inconvénients</h3>
    <ul class="fa-ul">
      <li><i class="fa fa-thumbs-o-down down-vote"></i> Support natif</li>
      <li><i class="fa fa-thumbs-o-down down-vote"></i> Polyfills</li>
      <li><i class="fa fa-thumbs-o-down down-vote"></i> </li>
      <li><i class="fa fa-thumbs-o-down down-vote"></i> X</li>
      <li><i class="fa fa-thumbs-o-down down-vote"></i> X</li>
    </ul>
  </section>
</section>
