<section class="partial">
  <section>
    <h3>Les avantages</h3>
    <ul class="fa-ul">
      <li><i class="fa fa-thumbs-o-up up-vote"></i> Cloisonnement du CSS</li>
      <li><i class="fa fa-thumbs-o-up up-vote"></i> Standard W3C</li>
      <li><i class="fa fa-thumbs-o-up up-vote"></i> X</li>
      <li><i class="fa fa-thumbs-o-up up-vote"></i> X</li>
    </ul>
  </section>

  <section>
    <h3>Les inconvénients</h3>
    <ul class="fa-ul">
      <li><i class="fa fa-thumbs-o-down down-vote"></i> Support natif</li>
      <li><i class="fa fa-thumbs-o-down down-vote"></i> Polyfills</li>
      <li><i class="fa fa-thumbs-o-down down-vote"></i> CSS Modules offrent l'encapsulation du CSS</li>
      <li><i class="fa fa-thumbs-o-down down-vote"></i> X</li>
      <li><i class="fa fa-thumbs-o-down down-vote"></i> X</li>
    </ul>
    <aside class="notes">
      Les modules CSS sont une "bidouille", à savoir une modification dynamique du nom des classes pour éviter toute collision.
      Ce n'est pas un standard.
    </aside>
  </section>
</section>
