
.btn {
  padding: 10px 30px;
  font-size: 15px;
  border-radius: 5px;
  background-color: white;
}
.super-box {
  text-align: center;
  width: 100%;
  display: block;
  padding: 20px;
}
.box {
  background-color: white;
  border: solid 1px lightgray;
  width: 300px;
  margin: auto;
  color: black;
  display: inline-block;
  padding: 20px;
}

.strike {
  text-decoration: line-through;
}
.title-index {
  color: #e60028;
}

.reveal pre {
  width: 100%;
}
.reveal pre code {
  overflow: inherit;
  max-height: inherit;
}

html body {
  background-image:linear-gradient(#03002e, #057ffa);
}

img {
  border: 0 !important;
}
