<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Faire du JavaScript propre ? Challenge accepted !</title>
  <link rel="shortcut icon" href="../images/favicon.ico">

  <meta name="description" content="Faire du JavaScript propre ? Challenge accepted !">
  <meta name="author" content="Romain Linsolas">

  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

  <link rel="stylesheet" href="../revealjs/css/reveal.css">
  <link rel="stylesheet" href="../revealjs/css/theme/romain.css" id="theme">

  <!-- Code syntax highlighting -->
  <link rel="stylesheet" href="../revealjs/lib/css/zenburn.css">

  <link rel="stylesheet" href="../lib/font-awesome/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="../common.css"/>
  <link rel="stylesheet" href="js-propre.css"/>

  <!-- Printing and PDF exports -->
  <script>
    var link = document.createElement('link');
    link.rel = 'stylesheet';
    link.type = 'text/css';
    link.href = window.location.search.match(/print-pdf/gi) ? '../revealjs/css/print/pdf.css' : '../revealjs/css/print/paper.css';
    document.getElementsByTagName('head')[0].appendChild(link);
  </script>

  <!--[if lt IE 9]>
  <script src="lib/js/html5shiv.js"></script>
  <![endif]-->
</head>

<body>

<div class="reveal">

  <!-- Any section element inside of this container is displayed as a slide -->
  <div class="slides">
    <section>
      <h3>Coder proprement en JavaScript ?</h3>
      <br>
      <h4>Challenge accepted!</h4>
      <hr/>
      <p>
        <small>par <a href="http://linsolas.github.io">Romain Linsolas</a> | <a href="http://twitter.com/romaintaz">@romaintaz</a>
        </small>
      </p>
    </section>

    <section data-background="../images/devoxx-2013.jpg">
      <h2>Romain Linsolas</h2>
      <br>
      <div class="blur">
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-caret-right"></i> Leader technique <code>EzWeb</code></li>
          <li><i class="fa-li fa fa-caret-right"></i> Développeur Java & web</li>
          <li><i class="fa-li fa fa-caret-right"></i> Tout un tas d'autres choses...</li>
          <li><i class="fa-li fa fa-twitter"></i> @romaintaz</li>
        </ul>
      </div>
    </section>

    <section>
      <section>
        <h3>EzWeb ?</h3>
        <img src="../images/ezweb-showcase.png">
      </section>

      <section>
        <h3>EzWeb c'est...</h3>
        <ul class="fa fa-ul">
          <li><i class="fa fa-google"></i> Écosystème basé sur AngularJS</li>
          <li><i class="fa fa-twitter"></i> Bootstrap "SG"</li>
          <li><i class="fa fa-map-signs"></i> Conventions fortes</li>
          <li><i class="fa fa-wrench"></i> Outils pré-configurés</li>
          <li><i class="fa fa-table"></i> Composants avancés</li>
          <li><i class="fa fa-ambulance"></i> Support et évolutions</li>
        </ul>
      </section>
      <section data-background="../images/numbers.jpg">
        <h3>Des ch1ffr35 !</h3>
        <div class="blur-more">
          <ul class="fa fa-ul">
            <li><i class="fa fa-object-group"></i> <strong>500</strong>+ projets</li>
            <li><i class="fa fa-users"></i> <strong>1200</strong> - <strong>1500</strong> développeurs</li>
            <li><i class="fa fa-hand-spock-o"></i> <strong>6</strong> personnes dans l'équipe</li>
            <li><i class="fa fa-github"></i> ~<strong>100</strong> dépôts Github Enterprise</li>
            <li><i class="fa fa-code-fork"></i> ~<strong>600</strong> <em>Pull Requests</em></li>
            <li><i class="fa fa-archive"></i> ~<strong>500</strong> releases</li>
          </ul>
        </div>
        <div class="credits">
          <a href="https://www.flickr.com/photos/morebyless/">morebyless, Flickr</a>
        </div>
      </section>
      <section data-background="../images/road.jpg">
        <h3>Le futur c'est maintenant !</h3>
        <h5><small>enfin pour EzWeb...</small></h5>
        <div class="blur-more">
          <ul class="fa fa-ul">
            <li><i class="fa fa-google"></i> Nouvelle version sur Angular <span class="strike">2</span></li>
            <li><i class="fa fa-facebook-official"></i> Support de React</li>
            <li><i class="fa fa-windows"></i> Développement en TypeScript</li>
            <li><i class="fa fa-twitter"></i> Etude de Bootstrap v4 (encore en <span class="source-sans">&alpha;</span>)</li>
          </ul>
        </div>
        <div class="credits">
          <a href="https://www.flickr.com/photos/aigle_dore/">Moyan Brenn, Flickr</a>
        </div>
      </section>
    </section>

    <section>
      <h2>Pourquoi cette présentation ?</h2>
    </section>

    <section>
			<pre><code class="hljs" data-trim>
<div id="error_box" style="display: none" class="error">Please fill-in beer name</div>
<form id="beerForm" action="addBeer.do" method="POST" onsubmit="return checkForm()">
  <label for="beer_name">Beer name:</label>
  <input name="name" id="beer_name">
  <input type="submit" value="Add">
</form>

&lt;script type="application/javascript"&gt;
  function checkForm() {
    var beerName = document.getElementById("beer_name").value;
    if (beerName == '') {
      document.getElementById("beer_name").className += "invalid";
      document.getElementById("error_box").style.display = "block";
      return false;
    }
    return true;
  }
&lt;/script&gt;
      </code></pre>
      <hr/>
      <div class="super-box">
        <div class="box">
          <label for="beer_name">Beer name:</label>
          <br>
          <input name="name" id="beer_name">
          <br>
          <input type="submit" value="Add">
        </div>
      </div>
    </section>

    <section>
      <h3>Le JavaScript est <span class="important">partout</span> !</h3>
      <ul class="fa-ul">
        <li><i class="fa-li fa fa-caret-right"></i> Runtime le plus distribué (+90% des sites l'utilisent)</li>
        <li><i class="fa-li fa fa-caret-right"></i> Applications mobiles</li>
        <li><i class="fa-li fa fa-caret-right"></i> Côté serveur (NodeJS)</li>
        <li><i class="fa-li fa fa-caret-right"></i> Explosion des frameworks web (Angular, React...)</li>
      </ul>
    </section>

    <section>
      <section>
        <h3>Les "GAFA" sont arrivés...</h3>
        <img src="./images/grumpy-facebook.png" alt="Facebook"/>
      </section>
      <section>
        <img src="./images/gmail.png" alt="GMail"/>
      </section>
    </section>

    <section>
      <h3>De nouveaux besoins</h3>
      <ul class="fa-ul">
        <li><i class="fa-li fa fa-caret-right"></i> Les utilisateurs veulent des applications <span class="important">réactives</span>, vivantes et dynamiques.</li>
        <li><i class="fa-li fa fa-caret-right"></i> Enjeu important de la qualité.</li>
        <li><i class="fa-li fa fa-caret-right"></i> Problématiques des <span class="important">réseaux mobiles</span>.</li>
      </ul>
    </section>

    <section>
      <h3>Challenge: 100,000 lignes de JavaScript ?</h3>
      <img src="./images/peur.png" alt=""/>
    </section>

    <section>
      <h3>Le JavaScript c'est <span class="fragment fade-out">sale</span><span class="fragment">surprenant</span></h3>
      <img src="./images/js-sale.png" alt=""/>
    </section>

    <section>
      <h3>Petit jeu...</h3>
      <table>
        <thead>
          <tr>
            <th>Code</th>
            <th></th>
            <th>Résultat</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><code id="code1">[] + []</code></td>
            <td><button class="btn" onclick="game(1)"><i class="fa fa-arrow-right"></i></button></td>
            <td class="right"><code id="res1"></code></td>
          </tr>
          <tr class="fragment">
            <td><code id="code2">[] + {}</code></td>
            <td><button class="btn" onclick="game(2)"><i class="fa fa-arrow-right"></i></button></td>
            <td class="right"><code id="res2"></code></td>
          </tr>
          <tr class="fragment">
            <td><code id="code3">{} + []</code></td>
            <td><button class="btn" onclick="game(3)"><i class="fa fa-arrow-right"></i></button></td>
            <td class="right"><code id="res3"></code></td>
          </tr>
          <tr class="fragment">
            <td><code id="code4">{} + {}</code></td>
            <td><button class="btn" onclick="game(4)"><i class="fa fa-arrow-right"></i></button></td>
            <td class="right"><code id="res4"></code></td>
          </tr>
          <tr class="fragment">
            <td><code id="code5">++[[]][+[]]+[+[]] === "10"</code></td>
            <td><button class="btn" onclick="game(5)"><i class="fa fa-arrow-right"></i></button></td>
            <td class="right"><code id="res5"></code></td>
          </tr>
        </tbody>
      </table>
    </section>

    <script>
      function game(index) {
        var code = document.querySelector('#code' + index).innerHTML;
        var res = eval(code);
        if (res === '') {
          res = '""';
        }
        document.querySelector('#res' + index).innerHTML = res;
      }
    </script>

    <section data-background="./images/darth-vader.png" data-background-size="500px">
      <h1 class="red">WTF?</h1>
      <h1>&nbsp;</h1>
      <h1>&nbsp;</h1>
    </section>

    <section>
      <h3>Autre problème</h3>
      <pre><code class="hljs" data-trim>
function updateVAT() {
  var price = document.getElementById("price").value;
  return price + (price * 0.196);
}
      </code></pre>
      <div class="super-box">
        <div class="box">
          <div>
            <label for="price">Price:</label>
            <input type="text" id="price" onchange="calculateTva()" style="font-size: 15px;"/>
            <hr/>
            Prix avec TVA: <strong><span id="price-res"></span>€</strong>
          </div>
        </div>
      </div>
    </section>
    <script>
      function calculateTva() {
        var p = document.querySelector('#price').value;
        document.querySelector('#price-res').innerHTML = p + (p * 0.196);
      }
    </script>

    <section>
      <h3>Pollution de l'espace de nommage</h3>
      <pre><code class="hljs" data-trim>
// beers.js
function checkForm() {
  var beerName = document.forms["beerForm"]["name"].value;
  if (beerName == '') {
    document.getElementById("name_field").className += "invalid";
    return false;
  }
  return true;
}

// sodas.js
function checkForm() {
  var sodaName = document.forms["sodaForm"]["name"].value;
  if (sodaName == '') {
    document.getElementById("name_field").className += "invalid";
    return false;
  }
  return true;
}
      </code></pre>
    </section>

    <section>
      <h3>Scope global par défaut</h3>
      <pre><code class="hljs" data-trim>
function subLoop() {
  for (i = 0; i < 10; i++) {
    console.log(i);
  }
}

for (var i = 0; i < 10; i++) {
  subLoop();
}
      </code></pre>
      <hr/>
      <button class="btn" onclick="testLoop()"><i class="fa fa-play"></i> Test</button>
      <br/>
      Résultat: <code id="loop-res"></code>
    </section>
    <script>
      function testLoop() {
        var code = document.getElementById('loop-res');
        var suffix = '';
        function subLoop() {
          for (ii = 0; ii < 10; ii++) {
            code.innerHTML += suffix + ii;
            suffix = ' | ';
          }
        }

        for (var ii = 0; ii < 10; ii++) {
          subLoop();
        }
      }
    </script>

    <section>
      <h3>Tout est public par défaut !</h3>
      <pre><code class="hljs" data-trim>
var counter = {
  privateValue: 0,
  increment: function() {
    counter.privateValue++;
    return counter.privateValue;
  }
};

// ailleurs dans le code...
counter.increment(); // 1
counter.privateValue = 0;
counter.increment(); // 1 :(
      </code></pre>
    </section>

    <section>
      <h2>Comment coder proprement 100,000 lignes de JS ?</h2>
    </section>

    <section data-background="../images/plouf.gif">
      <h2>Lançons-nous !</h2>
    </section>

    <section>
      <h3><span class="title-index">#0</span> Ne pas en faire, déléguer...</h3>
      <ul class="fa-ul">
        <li><i class="fa-li fa fa-caret-right"></i> JSF</li>
        <li><i class="fa-li fa fa-caret-right"></i> GWT</li>
        <li><i class="fa-li fa fa-caret-right"></i> Vaadin</li>
        <li><i class="fa-li fa fa-caret-right"></i> ...</li>
      </ul>
    </section>

    <section>
      <h3><span class="title-index">#1</span> Utiliser d'autres langages</h3>
      <ul class="fa-ul">
        <li class="strike"><i class="fa-li fa fa-caret-right"></i> Google Dart</li>
        <li class="strike"><i class="fa-li fa fa-caret-right"></i> Coffee Script</li>
        <li><i class="fa-li fa fa-caret-right"></i> ECMAScript 6 (2015)</li>
        <li><i class="fa-li fa fa-caret-right"></i> TypeScript</li>
      </ul>
    </section>

    <section>
      <section>
        <h3>ES6 / ES2015</h3>
        <p>ECMAScript 6 est la nouvelle spécification du langage JavaScript</p>
      </section>

      <section>
        <h3>Principales évolutions</h3>
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-caret-right"></i> Définition des <code>class</code></li>
          <li><i class="fa-li fa fa-caret-right"></i> Opérateur <code>=></code></li>
          <li><i class="fa-li fa fa-caret-right"></i> Syntaxe <code>for ... of</code></li>
          <li><i class="fa-li fa fa-caret-right"></i> Modules</li>
          <li><i class="fa-li fa fa-caret-right"></i> Promesses</li>
          <li><i class="fa-li fa fa-caret-right"></i> Structure de données</li>
          <li><i class="fa-li fa fa-globe"></i> <a href="http://es6-features.org/">http://es6-features.org/</a></li>
        </ul>
      </section>
      <section>
        <h3>Classe ES6</h3>
        <pre><code class="hljs" data-trim>
class Foo extends Bar {
  // constructeur
  constructor(name = 'Sherlock Holmes') {
    this._name = name;
    // ES5: this._name = name || 'Sherlock Holmes';
  }

  // getter - setter
  get name() { return this._name; }
  set name(name) { this._name = name; }

  welcome() {
    let lower = this._name.toLowerCase();
    return `Bonjour ${lower} !`;
    // ES5: return 'Bonjour ' + this._name + ' !';
  }
}
        </code></pre>
      </section>
      <section>
        <h3>Classe ES6</h3>
        <pre><code class="hljs" data-trim>
class Foo extends Bar {
  // Fonction statique
  static defaultFoo() {
    return new Foo('Dr. Watson');
  }
}

let myFoo = Foo.defaultFoo();
        </code></pre>
      </section>

      <section>
        <h3>Opérateur <code>=&gt;</code></h3>
        <pre><code class="hljs" data-trim>
const nombres = [1, 2, 3, 4, 5, 6, 7, 8, 9];
// ES6
let pairs = nombres.filter(n => n % 2 === 0);

// ES5
var pairs = nombres.filter(function(n) {
  return n % 2 === 0;
});
        </code></pre>
      </section>

      <section>
        <h3>Opérateur <code>=&gt;</code> et <code>this</code></h3>
        <pre><code class="hljs" data-trim>
// ES6
this.nombres.forEach(n => {
  this.maListe.push(n);
});

// ES5
this.nombres.forEach(function(n) {
  this.maListe.push(n);
}.bind(this));
// ou
var self = this;
this.nombres.forEach(function(n) {
  self.maListe.push(n);
});
        </code></pre>
      </section>

      <section>
        <h3><code>for of</code></h3>
        <pre><code class="hljs" data-trim>
const lettres = ['a', 'b', 'c', 'd', 'e'];

for (var i = 0; i < lettres.length; i++) {
  console.log('lettre ', lettres[i]);
}

for (let i in lettres) {
  console.log('lettre ', i);
  // console.log('lettre', lettres[i]);
}
// Affiche 'lettre 0', 'lettre 1', 'lettre 2', 'lettre 3', ...

// ES6
for (let lettre of lettres) {
  console.log('lettre ', lettre);
}
// Affiche 'lettre a', 'lettre b', 'lettre c', 'lettre d', ...
        </code></pre>
      </section>
    </section>


    <section>
      <section>
        <h3>TypeScript</h3>
        <ul class="fa fa-ul">
          <li><i class="fa-li fa fa-caret-right"></i> ES5 <i class="fa fa-angle-right"></i> ES6 <i class="fa fa-angle-right"></i> TypeScript</li>
          <li><i class="fa-li fa fa-caret-right"></i> Apporte essentiellement le <strong>typage</strong>, les <strong>interfaces</strong> et les <strong>decorators</strong>.</li>
          <li><i class="fa-li fa fa-windows"></i> Créé par Microsoft, popularisé par Angular 2.</li>
          <li><i class="fa-li fa fa-globe"></i> <a href="https://www.typescriptlang.org/">https://www.typescriptlang.org/</a></li>
        </ul>
      </section>

      <section>
        <h3>exemple TypeScript</h3>
        <pre><code class="hljs" data-trim>
interface ClockInterface {
  currentTime: Date;
  setTime(d: Date);
}

class Clock implements ClockInterface  {
  currentTime: Date;
  setTime(d: Date) {
    this.currentTime = d;
  }
  constructor(h: number, m: number) {
    // ...
  }
}
        </code></pre>
      </section>

      <section>
          <h3>Decorators</h3>
          <strong>TODO</strong>
      </section>
    </section>

    <section>
      <section>
        <h3><span class="title-index">#2</span> Les architectures MV*</h3>
        <p>Les nouveaux besoins imposent des changements d'architecture :</p>
        <ul class="fragment2 fa-ul">
          <li><i class="fa-li fa fa-clock-o"></i> Temps de réponse <span class="important">instantané</span></li>
          <li><i class="fa-li fa fa-mobile"></i> Gestion des réseaux lents, aléatoires...</li>
          <li><i class="fa-li fa fa-power-off"></i> Mode <span class="important">déconnecté</span></li>
        </ul>
        <p class="fragment">Les architectures <strong>SPA</strong> (<em>Single Page Application</em>)<br/> sont une solution.</p>
      </section>
      <section>
        <h3>Architecture classique</h3>
        <img src="./images/mvc1.png" alt="" class="no-border"/>
      </section>
      <section>
        <h3>Architecture "SPA"</h3>
        <img src="./images/mvc2.png" alt="" class="no-border"/>
      </section>
    </section>

    <section>
      <section>
        <h3>AngularJS</h3>
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-google"></i> Framework SPA par Google</li>
          <li><i class="fa-li fa fa-object-group"></i> Découplage "MVC"</li>
          <li><i class="fa-li fa fa-flask"></i> Complètement testable</li>
          <li><i class="fa-li fa fa-arrows-h"></i> Double binding</li>
          <li><i class="fa-li fa fa-codepen"></i> Directives</li>
          <li><i class="fa-li fa fa-users"></i> Enorme communauté</li>
        </ul>
      </section>
      <section>
        <h3>Example AngularJS</h3>
        <pre><code class="hljs" data-trim>
<html ng-app>
  <div ng-controller="TodoListController as ctrl">
    <span>{{ctrl.remaining()}} of {{ctrl.items.length}} remaining</span>
    <!-- Liste des éléments -->
    <ul>
      <li ng-repeat="item in ctrl.items">
        <input type="checkbox" ng-model="item.done">
        <span>{{item.text}}</span>
      </li>
    </ul>
    <!-- Ajout d'un élément -->
    <form ng-submit="ctrl.addItem()">
      <input type="text" ng-model="ctrl.newItem">
      <input class="btn-primary" type="submit" value="add">
    </form>
  </div>
</html>
        </code></pre>
      </section>
      <section>
        <h3>Code JS</h3>
        <pre><code class="hljs" data-trim>
angular.module('todoApp', [])
  .controller('TodoListController', TodoListController);

function TodoListController() {
  this.items = [{text:'Coder en JS', done: true}, ...];
  this.addItem = () => {
    this.items.push({text: this.newItem, done: false});
    this.newItem = '';
  };

  this.remaining = () => {
    let count = 0;
    angular.forEach(this.items, todo => {
      count += todo.done ? 0 : 1;
    });
    return count;
  };
});
        </code></pre>
      </section>
    </section>

    <section>
      <h3>Angular <span class="strike">2</span></h3>
      <ul class="fa-ul">
        <li><i class="fa-li fa fa-caret-right"></i> Nouvelle version d'Angular.</li>
        <li><i class="fa-li fa fa-caret-right"></i> Concepts de la v1 abandonnés.</li>
        <li><i class="fa-li fa fa-caret-right"></i> Basé sur les <code>Components</code>.</li>
        <li><i class="fa-li fa fa-caret-right"></i> Ecrit en TypeScript.</li>
        <li><i class="fa-li fa fa-warning"></i> Manque de maturité.</li>
      </ul>
    </section>
    <section>
      <h3>Example Angular 2</h3>
      <pre><code class="hljs" data-trim>
import {bootstrap, Component, FORM_DIRECTIVES} from 'angular2/angular2';

class Hero {id: number; name: string;}

@Component({
  selector: 'my-app',
  template:`
    <h1>{{title}}</h1>
    <h2>{{hero.name}} details!</h2>
    <div><label>id: </label>{{hero.id}}</div>
    <div>
      <label>name: </label>
      <div><input [(ng-model)]="hero.name" placeholder="name"></div>
    </div>
    `,
  directives: [FORM_DIRECTIVES]
})
class AppComponent {
  public title = 'Tour of Heroes';
  public hero: Hero = {
    id: 1,
    name: 'Windstorm'
  };
}

bootstrap(AppComponent);
      </code></pre>
    </section>
    <section>
      <h3>Côté HTML</h3>
      <pre><code class="hljs" data-trim>
&lt;script&gt;
  System.config({
    transpiler: 'typescript',
    typescriptOptions: { emitDecoratorMetadata: true }
  });
  System.import('./app.ts');
&lt;/script&gt;
<div>
  <my-app>loading...</my-app>
</div>
      </code></pre>
    </section>


    <section>
      <h3><span class="title-index">#3</span> Modulariser</h3>
      <p>Apprendre à découper son code en <span class="important">modules</span>.</p>
      <ul class="fa-ul">
        <li><i class="fa-li fa fa-caret-right"></i> Isolation du code.</li>
        <li><i class="fa-li fa fa-caret-right"></i> Faible couplage.</li>
        <li><i class="fa-li fa fa-caret-right"></i> Présentation d'une interface.</li>
        <li><i class="fa-li fa fa-caret-right"></i> Profiter des modules ES6 / TS.</li>
      </ul>
    </section>

    <section>
      <section>
        <h3><span class="title-index">#4</span> Analyser son code</h3>
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-caret-right"></i> Être capable de détecter des <span class="important">parties sales</span>.</li>
          <li><i class="fa-li fa fa-caret-right"></i> Limiter les <span class="important">erreurs</span> de développements.</li>
          <li><i class="fa-li fa fa-caret-right"></i> Forcer les <span class="important">bonnes pratiques</span>.</li>
          <li><i class="fa-li fa fa-caret-right"></i> Intégration dans les IDE pour des retours immédiats.</li>
        </ul>
      </section>

      <section>
        <h3>Les outils</h3>
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-caret-right"></i> ES5 : JsHint, JsLint, Jscs</li>
          <li><i class="fa-li fa fa-caret-right"></i> ES6 : ESLint</li>
          <li><i class="fa-li fa fa-caret-right"></i> TS : TSLint</li>
          <li><i class="fa-li fa fa-caret-right"></i> SonarQube</li>
        </ul>
      </section>
    </section>


    <section>
      <section>
        <h3><span class="title-index">#5</span> Rendre son code expressif</h3>
        <p>Un code expressif c'est un code :</p>
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-caret-right"></i> simple</li>
          <li><i class="fa-li fa fa-caret-right"></i> concis</li>
          <li><i class="fa-li fa fa-caret-right"></i> lisible</li>
        </ul>
      </section>

      <section>
        <h3>Sans jQuery</h3>
        <pre><code class="hljs" data-trim>
  <form onsubmit="return checkForm();">...</form>

    <script type="text/javascript">
      function checkForm() {
        var beerName = document.getElementById('beer_name').value;
        if (beerName === '') {
          document.getElementById('beer_name').className += 'invalid';
          document.getElementById('error_box').style.display = 'block';
          return false;
        }
        return true;
      }
    </script>
        </code></pre>
      </section>
      <section>
        <h3>Avec jQuery</h3>
        <pre><code class="hljs" data-trim>
$('#beerForm').submit(function() {
  if ($('#beer_name').val() === '') {
    $('#beer_name').addClass('invalid');
    $('#error_box').show();
    return false;
  }
  return true;
});
          </code></pre>
      </section>

      <section>
        <p>Plus généralement, adoptez la <strong>clean code</strong> attitude !</p>
      </section>

      <section>
        <h3>N'oubliez pas !</h3>
        <blockquote class="fragment">
          "Codez comme si la personne qui devait maintenir votre code était un dangereux psychopathe qui connait votre adresse."
        </blockquote>
        <blockquote class="fragment">"Ou pire, cela peut être vous dans 6 mois !"</blockquote>
      </section>
    </section>

    <section>
      <section>
        <h3><span class="title-index">#6</span> Tester</h3>
        <blockquote>
          "Le seul code qui ne contient pas de bug est celui que l'on n'écrit pas !"
        </blockquote>
      </section>

      <section>
        <h3>Les tests unitaires</h3>
        <p>
          Le test <span class="red">unitaire</span> est là pour s'assurer qu'un bout de code, isolé du reste, fait ce pour quoi il a été écrit.
        </p>
        <p class="fragment">Un bon test unitaire est :</p>
        <ul class="fragment fa-ul">
          <li><i class="fa-li fa fa-caret-right"></i> Rapide</li>
          <li><i class="fa-li fa fa-caret-right"></i> Isolé</li>
          <li><i class="fa-li fa fa-caret-right"></i> "Fragile"</li>
          <li><i class="fa-li fa fa-caret-right"></i> Compréhensible</li>
        </ul>
      </section>

      <section>
        <h3>Exemple d'un test unitaire</h3>
        <pre><code class="hljs" data-trim>
describe("Testing _ lib", () => {
  beforeEach(() => {
    // To do before every test
  });

  it("should be 42", () => {
    let res = _.last([1, 2, 3, 42]);
    expect(res).toBe(42);
  });

  it("should not be 1", () => {
    let res = _.max([1, 2, 3]);
    expect(res).not.toBe(1);
  });
});
        </code></pre>
      </section>
      <section>
        <h3>Les tests d'intégration (e2e)</h3>
        <p>
          Les tests d'intégration (<em>End To End</em>) visent à tester une application de <span class="important">bout en bout</span>.
          Nous utilisons des "robots" (Selenium...) qui <em>simulent</em> des actions et vérifient un certain nombre de choses.
        </p>
      </section>
      <section>
        <h3>Exemple de test e2e</h3>
        <pre><code class="hljs" data-trim>
describe('angularjs homepage todo list', () => {
  it('should add a todo', () => {
    browser.get('https://angularjs.org');

    element(by.model('todoList.todoText')).sendKeys('write first protractor test');
    element(by.css('[value="add"]')).click();

    let todoList = element.all(by.repeater('todo in todoList.todos'));
    expect(todoList.count()).toEqual(3);
    expect(todoList.get(2).getText()).toEqual('write first protractor test');

    // You wrote your first test, cross it off the list
    todoList.get(2).element(by.css('input')).click();
    let completedAmount = element.all(by.css('.done-true'));
    expect(completedAmount.count()).toEqual(2);
  });
});
        </code></pre>
      </section>

      <section>
        <h3>Le principe du TDD</h3>
        <p>
          Le TDD, <em>Test Driven Development</em> pousse à écrire les tests <span class="important">avant</span> le code.
        </p>
        <img src="./images/tdd.gif" alt=""/>
      </section>

      <section>
        <h3>A propos des outils</h3>
        <ul class="fa-ul">
          <li>Test <i class="fa fa-caret-right"></i> Jasmine, Mocha</li>
          <li>e2e <i class="fa fa-caret-right"></i> Protractor, WebDriverIO, Nightwatch, Browserstack</strong></li>
          <li>BDD | acceptance <i class="fa fa-caret-right"></i> Codecept, CucumberJS</li>
          <li>Style <i class="fa fa-caret-right"></i> Chai, Sinon</li>
          <li>Autres <i class="fa fa-caret-right"></i> Karma</li>
        </ul>
      </section>
    </section>


    <section>
      <h3><span class="title-index">#7</span> L'automatisation</h3>
      <p>
        L'automatisation est la clé du succès de l'équipe :
      </p>
      <ul class="fa-ul">
        <li><i class="fa-li fa fa-random"></i> <span class="important">Intégration continue</span> des développements de l'équipe</li>
        <li><i class="fa-li fa fa-play"></i> Exécution automatique des <span class="important">tests</span> unitaires</li>
        <li><i class="fa-li fa fa-bug"></i> Détection des régressions</li>
        <li><i class="fa-li fa fa-search"></i> Analyse du code</li>
        <li><i class="fa-li fa fa-envelope"></i> <span class="important">Informer</span> immédiatement les développeurs de la moindre alerte</li>
      </ul>
    </section>

    <section>
      <section>
        <h3><span class="title-index">#8</span> Utiliser les bons outils</h3>
        <img src="./images/wheels.png" alt=""/>
      </section>

      <section>
        <h3>IntelliJ / WebStorm</h3>
        <img src="./images/intellij.jpg" alt=""/>
      </section>

      <section>
        <h3>Chrome Devtools</h3>
        <img src="./images/chrome-devtools.png" alt=""/>
      </section>
    </section>



    <section>
      <h1>Conclusion</h1>
    </section>

    <section data-background="./images/bisounours.png">
      <h3 class="red">Le monde des Bisounours ?</h3>
      <h1>&nbsp;</h1>
      <h1>&nbsp;</h1>
    </section>

    <section>
      <h3>Hélas pas tout à fait <i class="fa fa-frown-o"></i></h3>
      <ul class="fa-ul">
        <li><i class="fa-li fa fa-caret-right"></i> Courbe d'apprentissage</li>
        <li><i class="fa-li fa fa-caret-right"></i> Nouveautés à n'en plus finir</li>
        <li><i class="fa-li fa fa-caret-right"></i> Pérénité</li>
      </ul>
      <!--<img src="./images/new-js.png" alt="" class="no-border"/>-->
    </section>

    <section data-background="./images/new-js.png"></section>

    <section>
      <h1><i class="fa fa-comments"></i></h1>
      <h2>Questions</h2>
    </section>

    <!--<section>-->
    <!--<h2>Speaker View</h2>-->
    <!--<p>There's a <a href="https://github.com/hakimel/reveal.js#speaker-notes">speaker view</a>. It includes a timer, preview of the upcoming slide as well as your speaker notes.</p>-->
    <!--<p>Press the <em>S</em> key to try it out.</p>-->

    <!--<section>-->
    <!--<h2>Export to PDF</h2>-->
    <!--<p>Presentations can be <a href="https://github.com/hakimel/reveal.js#pdf-export">exported to PDF</a>, here's an example:</p>-->
    <!--<iframe src="https://www.slideshare.net/slideshow/embed_code/42840540" width="445" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:3px solid #666; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>-->
    <!--</section>-->

  </div>

</div>

<script src="../revealjs/lib/js/head.min.js"></script>
<script src="../revealjs/js/reveal.js"></script>

<script>

  // Full list of configuration options available at:
  // https://github.com/hakimel/reveal.js#configuration
  Reveal.initialize({
    controls: true,
    progress: true,
    history: true,
    center: true,

    slideNumber: true,

    transition: 'convex', // 'slide', // none/fade/slide/convex/concave/zoom

    // Optional reveal.js plugins
    dependencies: [
      {
        src: '../revealjs/lib/js/classList.js', condition: function () {
        return !document.body.classList;
      }
      },
      {
        src: '../revealjs/plugin/markdown/marked.js', condition: function () {
        return !!document.querySelector('[data-markdown]');
      }
      },
      {
        src: '../revealjs/plugin/markdown/markdown.js', condition: function () {
        return !!document.querySelector('[data-markdown]');
      }
      },
      {
        src: '../revealjs/plugin/highlight/highlight.js', async: true, condition: function () {
        return !!document.querySelector('pre code');
      }, callback: function () {
        hljs.initHighlightingOnLoad();
      }
      },
      {src: '../revealjs/plugin/zoom-js/zoom.js', async: true},
      {src: '../revealjs/plugin/notes/notes.js', async: true}
    ]
  });

</script>

</body>
</html>
