
.btn {
  padding: 10px 30px;
  font-size: 15px;
  border-radius: 5px;
  background-color: white;
}
.super-box {
  text-align: center;
  width: 100%;
  display: block;
  padding: 20px;
}
.box {
  background-color: white;
  border: solid 1px lightgray;
  width: 300px;
  margin: auto;
  color: black;
  display: inline-block;
  padding: 20px;
}

.strike {
  text-decoration: line-through;
}
