.box {
  border: solid 1px lightgray !important;
  border-radius: 5px;
  margin: 10px !important;
  padding: 10px !important;
}
.box.important {
  border: solid 1px #f17100 !important;
}

.white a {
  color: #fff;
}

.up-vote {
  color: #35bd5b !important;
}
.down-vote {
  color: #f17100 !important;
}

code.html mark .hljs-tag {
  color: brown;
}
code.html mark .hljs-title {
  color: black;
}

.highlight-number {
  border-radius: 40px;
  display: inline-block;
  font-size: 30px;
  height: 80px;
  width: 80px;
  background-color: rgba(241, 113, 0, .25);
  border: solid 10px #f17100 !important;
  color: #f17100;
}

mark {
  background-color: #FCF8E3;
}
mark.second {
  background-color: #C9C5B0;
}

/*******************************/
/* DEVOXX FRANCE 2017 TEMPLATE */
/*******************************/

html body {
  background-image:linear-gradient(#03002e, #057ffa);
}

.footer {
  position:absolute;
  bottom: 0px;
  width: 100%;
  height: 32px;
  z-index: 100;
}

.footer img {
  position: absolute;
  top: 0px;
  right: 0px;
}

.footer p {
  margin: 0px;
  text-align: left;
  padding-left: 10px;
  font-size: 25px;
  font-weight: bold
}

.reveal .slide-number {
  margin: 0 auto;
  left: 50%;
  right: 50%;
  width: 30px;
  text-align: center;
  color: #999;
}

.reveal .controls {
  height: 50px;
  width: 50px;
  bottom: 50px;
}
.reveal .controls button {
  border-width: 12px;
}

.reveal .controls .navigate-up {
  border-bottom-width: 12px;
  left: 8px;
  top: -15px;
}
.reveal .controls .navigate-up.enabled {
  border-bottom-color: #057bf3;
}

.reveal .controls .navigate-down {
  border-top-width: 12px;
  left: 8px;
  top: 41px;
}
.reveal .controls .navigate-down.enabled {
  border-top-color: #057bf3;
}

.reveal .controls .navigate-left {
  border-right-width: 12px;
  top: 13px;
  left: -20px;
}
.reveal .controls .navigate-left.enabled {
  border-right-color: #057bf3;
}

.reveal .controls .navigate-right {
  border-left-width: 12px;
  top: 13px;
  left: 36px;
}
.reveal .controls .navigate-right.enabled {
  border-left-color: #057bf3;
}
